*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body
{ 
	background-color: black;
	background-image: url(../img/PNG/background.png);
	background-size: 100% 100%;
	max-width: 1200px;
	margin: 0 auto;
	font: 15px Arial, Helvetica, sans-serif;
	color:  rgb(211,211,211);
	
}

div.header {
	max-width: 1200px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

img.header {
	max-width: 100%;
	height: auto;
	width: auto;
	margin: 0 auto;
}

/* Блок стилизации главного меню */
.mm {
	position: relative;
	background: rgb(211,211,211);
	height: 40px;
	margin: 0px 0px 30px 0px ;
	padding: 0;
	left: 50%;
	float: left;
	transform: translate(-50%,0);
	width: 100%;
	
}

.mm_block {
	border-radius: 5px;
	background-color: rgb(211,211,211);		
}

.mm_ul {
	display: flex;
	position: relative;
	height: 40px;
	text-align: center;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.mm_li {
	position: relative;
	width: 25%;
	height: 40px;
	padding: 0px;
	margin: 0px;
	background-color: rgb(211,211,211);
}
.mm_ul_child {
	display: none;
	text-align: center;
	list-style: none;
	width: 100%;
}
.mm_li:hover > ul.mm_ul_child {
	display: flex;
	flex-direction: column;
	position: absolute;
	/*left: 50%;*/
	float: left;
	height: 40px;
	padding: 0;
	margin: 0;
	background-color: rgb(211,211,211);
	list-style: none;	
}

.mm_li_child {
	/*width: 150px;*/
	Width:100%;
	background-color: rgb(211,211,211);
}

.mm_a {
	position: relative;
	border-left: 1px solid #666;
	display: block;
	color: darkblue;
	text-decoration: none;
	padding: 0 20px;
	line-height: 40px;
}

/* блок стилей контента (текст)*/
p.content_text {
	text-align: justify;
	line-height: 1.5em;
	margin: 10px 2px;
}

/* блок стилей боковых картинок */
img.figure {
	width: 100%;
	height: auto;
}

nav.buttons_socsety {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

img.buttons_socsety {
	margin: 2px;
}

.buttons_socsety_mini {
	display: none;
}

p.copyright {
	font-size: 10px;
	text-align: center;
	padding: 5px;
}



/* вспомогательные стили */
.p0 {
	padding: 0px;
}
.p5 {
	padding: 5px;
}
.mauto {
	margin: auto auto;
}
.ptb10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.flex_row_evenly {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

/* форма связи */
/*форма связи*/
div.form_contact {
	position: fixed;
    width: 400px;
    height: auto;
    margin: auto;
    top:50%;
    left:50%;
    opacity: 1;
    transform: translate(-50%, -50%);
}

Fieldset {
    box-shadow: 0.2em 0.2em 5px rgba(122,122,122,0.5);
    border-radius: 10px;
    background-image: url(../img/png/background.png);
	background-attachment: absolute;
	background-size: 100% 100%;
	padding: 5px;
}

label.text_input {
    display: inline-block;
	width: 100%;
	margin: 1px;
}

div.contactus {
	display: none;
}

div.contactus:target {
	display: block;
    position: fixed;
    width: 100%;
    height: 100%; 
    top:0px;
    left:0px; 
    background-color:rgb(0,0,0,0.5) ;	
}



/*стили для инпутов*/
input.text_input, textarea.text_input {
    border-radius: 5px;
    box-shadow: 0.2em 0.2em 5px rgba(122,122,122,0.5);
    width: 98%;
	background-color: lightgray;
	margin: 1px;
	
}
textarea.text_input {
	height: 100px;
	resize: none;
}
button {
    width: 100px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(147,161,172);
    font-family: Arial, Helvetica, sans-serif;
    color: white;       
}

/* img about */


/* adaptive start */
@media screen and (min-width: 515px)  {
	nav.mm_open {
		display: none;
	}
}

@media screen and (min-width: 515px) and (max-width: 831px) {
	div.content_left, div.content_right, img.figure, div.header {
		display: none;
	}
	div.content_body {
		width:100%;
	}
	.buttons_socsety_mini {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 5px;
	}

	.buttons_socsety_mini_block {
		width: 50%;
		height: auto;
		padding: 5px;
		text-align: center;
		border-radius: 10px;
		border: 1px solid rgb(211,211,211);
	}

}
@media screen and (max-width: 515px)  {
	div.content_left, div.content_right, img.figure, div.header {
		display: none;
	}
	div.content_body {
		width:100%;

	}
	
	p.content_text {
		padding-left: 5px;
		padding-right: 5px; 
	}
	.mm_ul {
		display: flex;
		flex-direction: row;
		font-size: 12px;
		margin-left:0;
		padding: 0;
	}	

	/*nav.mm_block {
		width: 40px;
		height: 40px;
		background-color: rgb(211,211,211,0.5);
		float: right;
	}*/
	
	img.header {
		display: none;
	}

	nav.mm_open {
		display: none;
		/*display: flex;
		justify-content: center;
		vertical-align: middle;
		color: darkblue;*/
	}

	/*nav.mm_open:hover ~ ul.mm_ul {
		position: absolute;
		display: flex;
		justify-content: right;
		flex-direction: column;
		left: 40px;
		right: 0px;
		width: 150px;
		margin-left: 0px;
	}*/
	
	li.mm_li {
		position: relative;
		display: flex;
		left: 0px;
		/*width: 150px;*/
		padding: 0;
		width: 25%;
	}
	a.mm_a {
		position: relative;
		border-bottom: 1px solid #666;
		z-index: 10;
		padding: 0;
		width:100%
	}


	/*p.mm_open {
		height: 40px;
		line-height: 40px;
		width: 40px;
		vertical-align: middle;
		text-align: center;
		font-size: 2em;
	}*/

	.mm {
		display:flex;
		justify-content: right;
	}

	.buttons_socsety_mini {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 5px;
	}

	.buttons_socsety_mini_block {
		width: 100%;
		height: auto;
		padding: 5px;
		text-align: center;
		border-radius: 10px;
		border: 1px solid rgb(211,211,211);
	}

	.mm_li:hover > ul.mm_ul_child {
		display: flex;
		flex-direction: column;
		position: absolute;
		/*left: 50%;*/
		top: 40px;
		float: left;
		height: 40px;
		padding: 0;
		margin: 0;
		background-color: rgb(211,211,211);
		list-style: none;	
	}
	
	div.contactus {
        display: none;
    }
    
    div.contactus:target {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%; 
        top:0px;
        left:0px; 
        background-color:rgb(0,0,0,0.5) ;	
    }

    div.contactus:target > div.form_contact  {
        width: 100%;
    }
}