*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body
{ 
	background-color: black;
	background-image: url(../img/PNG/background.png);
	background-size: 100% 100%;
	max-width: 1200px;
	margin: 0 auto;
	font: 15px Arial, Helvetica, sans-serif;
	color:  rgb(211,211,211);
	z-index: 0;
}

div.header {
	max-width: 1200px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

img.header {
	max-width: 100%;
	height: auto;
	width: auto;
}

/* Блок стилизации главного меню */
.mm {
	position: relative;
	background: rgb(211,211,211);
	height: 40px;
	margin: 0px 0px 30px 0px ;
	padding: 0;
	left: 50%;
	float: left;
	transform: translate(-50%,0);
	width: 100%;
	z-index: 4;	
}

.mm_block {
	border-radius: 5px;
	background-color: rgb(211,211,211);		
}

.mm_ul {
	display: flex;
	position: relative;
	height: 40px;
	text-align: center;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.mm_li {
	position: relative;
	width: 25%;
	height: 40px;
	padding: 0px;
	margin: 0px;
	background-color: rgb(211,211,211);
}
.mm_ul_child {
	display: none;
	text-align: center;
	list-style: none;
}
.mm_li:hover > ul.mm_ul_child {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 50%;
	float: left;
	height: 40px;
	padding: 0;
	margin: 0;
	background-color: rgb(211,211,211);	
}

.mm_li_child {
	width: 150px;
	background-color: rgb(211,211,211);
}

.mm_a {
	border-left: 1px solid #666;
	display: block;
	color: darkblue;
	text-decoration: none;
	padding: 0 20px;
	line-height: 40px;
}

/* блок стилей контента (текст)*/
p.content_text {
	text-align: justify;
	line-height: 1.5em;
	margin: 10px 2px;
}

/* блок стилей боковых картинок */
img.figure {
	width: 100%;
	height: auto;
}

/* вспомогательные стили */
.p0 {
	padding: 0px;
}
.p5 {
	padding: 5px;
}
.mauto {
	margin: auto auto;
}
.ptb10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.buttons_socsety_mini {
	display: none;
}

p.copyright {
	font-size: 10px;
	text-align: center;
	padding: 5px;
}

/* adaptive start */
@media screen and (min-width: 515px)  {
	nav.mm_open {
		display: none;
	}
}

@media screen and (min-width: 515px) and (max-width: 831px) {
	div.content_left, div.content_right, img.figure {
		display: none;
	}
	div.content_body {
		width:100%;
	}
	.buttons_socsety_mini {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 5px;
	}

	.buttons_socsety_mini_block {
		width: 50%;
		height: auto;
		padding: 5px;
		text-align: center;
		border-radius: 10px;
		border: 1px solid rgb(211,211,211);
	}

}
@media screen and (max-width: 515px)  {
	div.content_left, div.content_right, img.figure {
		display: none;
	}
	div.content_body {
		width:100%;

	}
	
	p.content_text {
		padding-left: 5px;
		padding-right: 5px; 
	}
	.mm_ul {
		display: none;
	}	

	nav.mm_block {
		width: 40px;
		height: 40px;
		background-color: rgb(211,211,211,0.5);
		float: right;
	}
	
	img.header {
		display: none;
	}

	nav.mm_open {
		display: flex;
		justify-content: center;
		vertical-align: middle;
		color: darkblue;
	}

	nav.mm_open:hover ~ ul.mm_ul, nav.mm_open:active ~ ul.mm_ul {
		position: absolute;
		display: flex;
		justify-content: right;
		flex-direction: column;
		left: 40px;
		right: 0px;
		z-index: 5;
		width: 150px;
		margin-left: 0px;
	}
	
	li.mm_li {
		left: 0px;
		width: 150px;
		z-index: 6;
	}
	a.mm_a {
		border-bottom: 1px solid #666;
		z-index: 7;
	}


	p.mm_open {
		height: 40px;
		line-height: 40px;
		width: 40px;
		vertical-align: middle;
		text-align: center;
		font-size: 2em;
	}

	.mm {
		display:flex;
		justify-content: right;
	}

	.buttons_socsety_mini {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 5px;
	}

	.buttons_socsety_mini_block {
		width: 100%;
		height: auto;
		padding: 5px;
		text-align: center;
		border-radius: 10px;
		border: 1px solid rgb(211,211,211);
	}
	
}