* {
	box-sizing: border-box;
}
body
{ 
	background-color: black;
	background-image: url(../img/PNG/background.png);
	background-size: 100% 100%;
	max-width: 1200px;
	/*width:100%;
	height:100%;*/
	margin: 0 auto;
}

.header {
	max-width: 1200px;
	width: 100%;
	height: auto;
}

/* Блок стилизации главного меню */
.mm {
	
	height: auto;
	
	display: flex;
	justify-content: center;	
}

.mm_block {
	border-radius: 5px;
	background-color: lightgray;		
}

.mm_ul {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.mm_li {

	text-align: center;
}

.mm_a {
	outline: none;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
}


/* вспомогательные стили */
.p0 {
	padding: 0px;
}
.p5 {
	padding: 5px;
}
.ptb10 {
	padding-top: 10px;
	padding-bottom: 10px;
}


/* adaptive start */
@media screen and (min-width: 900px)  {

}
@media screen and (max-width: 515px)  {
	
	.mm_ul {
		display: none;
	}	

	.mm_block {
		width: 20px;
		height: 20px;
	}

	.mm {
		justify-content: right;
	}
}